hr.rounded {
    border-top: 3px solid rgb(139, 151, 150);
    border-radius: 2px;
    width: 100%;
  }


  
.divider-container {
    display: flex;
    background-color: rgba(255, 251, 230, 0);
    margin-bottom:30px;
    box-sizing: content-box;
    max-width: 600px;
    min-width: 60%;
    border-radius: 6px;
    margin-left: -80px;
    margin-right: -80px;
    margin-bottom: 10px;
    margin-top: -20px;
    width: 100%;
  }