.experience-item{
    display: flex;
    flex-wrap:column;
    justify-content: center;
    justify-items: center;
    align-items:baseline;
    
}

.d{
    display: flex;
    flex: 3;
}

.skills{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    align-self: center;

}

.dev{
    display: flex;
}

.h5{
    line-height: 3px;
}