.experience-item {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}

.section-indent {
    margin-left: .3rem;
}

h5{
    color: rgb(55, 52, 54) !important;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

.same-company {
    margin-top: 1rem;
}

.d {
    display: flex;
    flex: 2 0 0;
    flex-direction: column;
}

.skills {
    display: flex;
    flex: 1 0 0;
    padding-right: 20px;

}

.dev {
    display: flex;
}