#footer,
#changeText {
    color: #c169bc;
    stroke-width: 4em;
    padding-bottom: 1em;
    font-size: .9em;
}


.footerlink {
    color: #c169bc;
    text-decoration: none;
}

.footerlink:visited {
    color: #c169bc;
}