.intro-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1  0%; 
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
    margin: auto;
}

#title{
    font-size: 18px 20%;
}

.about-image{
    display: flex;
    flex-direction: column; 
    box-sizing: content-box;
    flex: 1;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.profile-img {
   width: 100%;
   box-sizing: content-box;
   border-radius: 50%;
   max-width: 200px;
   min-width: 50px;
}

img {
    border-style: none;
    
  }

  
#link{
    font-size: 200%;
    color:#0c3327;
}