.container {
<<<<<<< HEAD
<<<<<<< HEAD
    display: flex;
    background-color: rgb(149, 177, 160);
    margin-left: 110.5px;
    margin-right:110.5px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom:30px;
  }
  
  .row{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    row-gap: 10px;
  }


.intro-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1 1; 
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
=======
    background-color: rgb(156, 156, 156);
    margin-left: 75.5px;
    margin-right:75.5px;
    border-radius: 10px;
    margin-top: 75.5px;
  }

.row{
    display: flex;
    flex-wrap: row;
    padding: 15px;
    width: 100%;
}

.intro-text {
    flex: 41.6666667%;
    position: relative;
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
>>>>>>> parent of 97ed9af (new format but missing projects)
=======
    background-color: rgb(156, 156, 156);
    margin-left: 75.5px;
    margin-right:75.5px;
    border-radius: 10px;
    margin-top: 75.5px;
  }

.row{
    display: flex;
    flex-wrap: row;
    padding: 15px;
    width: 100%;
}

.intro-text {
    flex: 41.6666667%;
    position: relative;
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
>>>>>>> parent of 97ed9af (new format but missing projects)
}

#title{
    font-size: 18px;
    color: #0c3327;
    box-sizing: content-box;
}

.image-container{
<<<<<<< HEAD
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    flex: 1 1; 
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.profile-img {
   width: 100%;
   border-radius: 5px;
   flex-shrink: 0;
   box-sizing: border-box;
   flex-shrink: 0;
}

img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: content-box;
    flex-shrink: 0;
    min-width: 120px;
  }

#link{
      font-size: 200%;
      color:#0c3327;
  }

  a:visited { 
    text-decoration: none; 
    color: black; 
   }

=======
    flex: 58.333333%;
    position: relative;
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.about-image, .image-container {
   width: 70%;
   border-radius: 50px;
}

#img {
    vertical-align: middle;
  }
>>>>>>> parent of 97ed9af (new format but missing projects)
=======
    flex: 58.333333%;
    position: relative;
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.about-image, .image-container {
   width: 70%;
   border-radius: 50px;
}

#img {
    vertical-align: middle;
  }
>>>>>>> parent of 97ed9af (new format but missing projects)
