@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.App {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:
    radial-gradient(ellipse 70% 320px at 100% 0%, rgb(191, 208, 238) 0%, transparent 100%),
    radial-gradient(ellipse 55% 280px at 80% 0%, rgba(246, 153, 192, 0.766) 0%, transparent 100%),
    radial-gradient(ellipse 40% 240px at 95% 0%, rgba(228, 206, 250, 0.35) 0%, transparent 100%),
    #F8F7F3;
  /* color: #4b4744; */
}

::selection {
  background: #c5d3fb;
  color: #3b5bdb;
}

h2 {
  font-size: 20px;
  color: #3a3a3a;
}

.content {
  flex: 1 1 0%;
  width: 100%;
  display: flex;
  padding-top: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex: 1 0 0%;
  align-items: center;
  box-sizing: content-box;
}


.cont {
  position: static;
}

.container {
  display: flex;
  background-color: #FDFDFD;
  border-color: #ECE7E1;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  max-width: 400px;
  min-width: 38%;
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;
}

.h2 {
  transition: margin 0.2s ease-in-out;
}

.h2:hover {
  cursor: pointer;
  margin-top: -10px;

}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-sizing: content-box;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;


}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: content-box;

}

.desc {
  text-align: left;
  font-size: 12px;
  color: #404040
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}